main{
    background-color: aliceblue;
}
*{
    margin-top: 8px;
}
main header{
    text-align: center;
}
h1{
    text-transform: uppercase;
}
h2{
    text-decoration-line: underline;
    text-align: center;
    text-transform: uppercase;
}
.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 5px;
}
.accordion {
    width: 300px;
    background-color: white;
    margin: 0 auto;
}